table{
    border-collapse: collapse;
    width: 100%;
    border-width: 100%;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-width: 100%;
}
@media screen and (max-width:600px) {
    table{
        border: 0;
    }
th, td {
    border: none;
    display: block;
    border: 0;
    border-bottom: 1px solid #ddd;
    border-width: 100%;
}
tr:hover {
    background-color: rgb(157, 157, 202);
}
tr {
    border-bottom: 1px solid #ddd;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
}
